doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        title MARTA Route Information

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="/marta/css/style.css")

        script(src="https://unpkg.com/axios/dist/axios.min.js", defer="defer")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", defer="defer")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", defer="defer")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", defer="defer")
        script(src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js", defer="defer")
        script(src="/marta/js/script.js", defer="defer")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU9V8YGNmoMW_GFbIC5K0az8TsE9ZvSjA&callback=initMap", defer="defer")
    body
        #app.container
            #rail.row
                .col-12
                    ul.nav.nav-tabs(role="tablist")
                        li.nav-item: a.nav-link(data-toggle="tab", href="#home") Home
                        li.nav-item: a.nav-link(data-toggle="tab", href="#menu1") Menu 1
                        li.nav-item: a.nav-link(data-toggle="tab", href="#menu2") Menu2
                    .tab-content
                        #home.container.tab-pane.fade
                            h3 HOME
                            p Whaddup from Home y'all!
                        #menu1.container.tab-pane.fade
                            h3 MENU 1
                            p HEY
                        #menu2.container.tab-pane.fade
                            h3 MENU 2
                            p whassup

            .row
                .col-12
                    .input-group
                        select#bus-options.custom-select
                        #bus-add-route.input-group-append
                            button.btn.btn-outline-secondary(type="button") Add Bus Route

            #bus.row
                .col-12
                    #bus-labels.text-center
                .col-12
                    #bus-map
