#app > .row {
    margin-top: 1rem;
}

#bus-labels {
    margin-bottom: 1rem;
}

#bus-map {
    width: 100%;
    height: 500px;
}


.label {
    cursor: pointer;
}

.label > span {
    font-weight: bold;
    margin-left: 0.5rem;
}
